In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:

hospital_file = "./resources/hospital_visits.csv"

hospital_df = pd.read_csv(hospital_file)
hospital_df

,FIPS,3 / 1 / 2020,3 / 2 / 2020,3 / 3 / 2020,3 / 4 / 2020,3 / 5 / 2020,3 / 6 / 2020,3 / 7 / 2020,3 / 8 / 2020,3 / 9 / 2020,...,3 / 12 / 2020,3 / 13 / 2020,3 / 14 / 2020,3 / 15 / 2020,3 / 16 / 2020,3 / 17 / 2020,3 / 18 / 2020,3 / 19 / 2020,3 / 20 / 2020,3 / 21 / 2020
0,1001,80.0,62.0,80.0,62.0,73.0,85.0,91.0,73.0,62.0,...,70.0,62.0,43.0,42.0,48.0,65.0,48.0,47.0,38.0,31.0
1,1003,203.0,469.0,477.0,474.0,451.0,465.0,243.0,225.0,486.0,...,454.0,391.0,168.0,163.0,364.0,339.0,331.0,383.0,272.0,106.0
2,1005,33.0,61.0,70.0,36.0,63.0,42.0,21.0,23.0,43.0,...,44.0,31.0,22.0,11.0,41.0,48.0,52.0,38.0,27.0,8.0
3,1007,62.0,77.0,83.0,69.0,62.0,59.0,55.0,40.0,74.0,...,83.0,55.0,43.0,32.0,64.0,65.0,55.0,52.0,41.0,17.0
4,1009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,56037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3217,56039,13.0,37.0,17.0,41.0,46.0,40.0,11.0,13.0,55.0,...,45.0,40.0,9.0,8.0,40.0,27.0,32.0,30.0,19.0,1.0
3218,56041,10.0,18.0,25.0,21.0,28.0,26.0,15.0,14.0,19.0,...,19.0,13.0,6.0,2.0,19.0,28.0,18.0,18.0,23.0,14.0
3219,56043,31.0,76.0,62.0,60.0,61.0,42.0,28.0,31.0,80.0,...,67.0,70.0,27.0,29.0,55.0,63.0,57.0,53.0,29.0,19.0
3220,56045,2.0,11.0,10.0,6.0,8.0,8.0,2.0,5.0,3.0,...,5.0,6.0,6.0,5.0,8.0,3.0,4.0,8.0,2.0,2.0

In [3]:

county_file = "./resources/covid_us_county.csv"
county_df = pd.read_csv(county_file)
county_df

,fips,county,state,lat,long,date,cases,state_code,deaths
0,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-22,0,AL,0
1,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-23,0,AL,0
2,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-24,0,AL,0
3,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-25,0,AL,0
4,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-26,0,AL,0
...,...,...,...,...,...,...,...,...,...
1179015,56045.0,Weston,Wyoming,43.839612,-104.567488,2021-01-04,479,WY,2
1179016,56045.0,Weston,Wyoming,43.839612,-104.567488,2021-01-05,479,WY,3
1179017,56045.0,Weston,Wyoming,43.839612,-104.567488,2021-01-06,479,WY,3
1179018,56045.0,Weston,Wyoming,43.839612,-104.567488,2021-01-07,483,WY,4
1179019,56045.0,Weston,Wyoming,43.839612,-104.567488,2021-01-08,485,WY,4

In [4]:
# Create a filtered dataframe from specific columns
hospital_transformed_df = hospital_df.melt(id_vars=["FIPS"], 
        var_name="Date", 
        value_name="Visits")

hospital_transformed_df = hospital_transformed_df.rename(columns={"FIPS":"fips",
                                                                 "Date":"date",
                                                                 "Visits":"visits"})
#hospital_transformed_df.drop_duplicates("id", inplace = True)
hospital_transformed_df.reset_index()

hospital_transformed_df.head(10)

   fips          date  visits
0  1001  3 / 1 / 2020    80.0
1  1003  3 / 1 / 2020   203.0
2  1005  3 / 1 / 2020    33.0
3  1007  3 / 1 / 2020    62.0
4  1009  3 / 1 / 2020     0.0
5  1011  3 / 1 / 2020     5.0
6  1013  3 / 1 / 2020    19.0
7  1015  3 / 1 / 2020     0.0
8  1017  3 / 1 / 2020     0.0
9  1019  3 / 1 / 2020    12.0

In [11]:
county_cols = ["fips","county","state_code","date","deaths", "cases"]

county_transformed = county_df[["fips","county","state_code","date","deaths", "cases"]]


# Rename the column headers
county_transformed.drop_duplicates("fips", inplace = True)
county_transformed.reset_index
county_transformed.head()

<ipython-input-11-7cd42e8d58fe>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  county_transformed.drop_duplicates("fips", inplace = True)

        fips   county state_code        date  deaths  cases
0     1001.0  Autauga         AL  2020-01-22       0      0
353   1003.0  Baldwin         AL  2020-01-22       0      0
706   1005.0  Barbour         AL  2020-01-22       0      0
1059  1007.0     Bibb         AL  2020-01-22       0      0
1412  1009.0   Blount         AL  2020-01-22       0      0

In [6]:
##SCHEMA -- SQL

# create table hospital_visits(
# id int primary key,
# fips int,
# date date,
# visits int
#  )


# create table us_county(
# id int primary key,
# fips int,
# county text,
# state_code text,
# date date,
# deaths int,
# cases int	
# );

# select * from us_county
# select * from hospital_visits

# SELECT hospital_visits.fips, hospital_visits.date, hospital_visits.visits,
# us_county.county, us_county.state_code, us_county.date,
# us_county.deaths, us_county.cases
# FROM hospital_visits
# INNER JOIN us_county ON hospital_visits.fips = us_county.fips;

In [13]:
connection_string = "postgres:1Ax2by3cz$@localhost:5432/hospital_visits"
engine = create_engine(f'postgresql://{connection_string}')

In [14]:
# Confirm tables
engine.table_names()

['hospital_visits', 'us_county']

In [15]:
hospital_transformed_df.to_sql(name='hospital_visits', con=engine, if_exists='append', index_label = 'id')

In [16]:
county_transformed.to_sql(name='us_county', con=engine, if_exists='append', index_label ='id')